* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a7d8d0;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
}

.register-box {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

/* Lado esquerdo */
.left-side h2 {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #f1f1f1;
    border-radius: 5px;
    color: #333;
    font-size: 18px;
    text-decoration: none;
}

.social-icons a:hover {
    background-color: #ddd;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #4CAF50;
}

.btn-register {
    width: 100%;
    padding: 10px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-register:hover {
    background-color: #007f65;
}

/* Lado direito */
.right-side {
    background-color: #009879;
    color: white;
    align-items: center;
    text-align: center;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

.right-side h2 {
    margin-bottom: 10px;
}

.right-side p {
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-login {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cadastro {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: white;
    color: #009879;
}
